[2017-02-11 23:21] yaakovgamliel opened #1 "IC flash W25Q16DVSSIG TR"
Hi, looks like this memory its not longer in production, I've found diferent ones with the same specs, Do you know anything about it?

[2017-02-13 18:24] dominicgs commented on #1
We have been experimenting with alternative parts.  We have had success with the W25Q16JVSSIQ, but I don't know if we have definitely settled on that part yet.

[2017-02-13 19:34] mossmann commented on #1
Yes, we've settled on that part.
Fixed in 8064466310b720e6ca861558e24e03762510778a.

[2017-02-13 19:34] #1 closed

[2017-02-17 01:10] wanming2008 opened #2 "where is the pc software for greatfet"
hi   mossmann and dominicgs

  i have made one greatfet hardware  myself but i can not find the pc software in github，in greatfet repository  or dominicgs“ framware repository。  i tried  usb goodfet PC python software whrited by  travisgoodspeed，but it seems not work。PC can not comincation with greatfet。 can you tell me where i can download the pc python software for greatfet。

 and wish to see yo

[2017-02-20 21:45] dominicgs commented on #2
I answered this issue on the GreatFET_experimental repository.

[2017-02-20 21:45] #2 closed

[2017-03-09 14:26] wanming2008 opened #4 "the max current of VA1 VA2 VA4 VA6 VA3"
sorry to disturb you again：

in Foxglove SCH  i see VA1-VA6， they connect to LPC4330'S  P4_0 P4-5  P4_4 P4-2  P4_3 and P4_6
 The P4_3 is one ADC pin can power the level shifter chip 1T45 , But the other 5 pin do not have DAC function.SO i wanna know the max current of  this five power pin when level shiftering？
and I did not see the VCCB connect to J1 OR J2  ，How should I connect where i use it
th

[2017-09-21 12:58] #4 closed

[2019-05-28 22:52] ktemkin opened #242 "Merge in new, generalized SGPIO driver"

[2019-05-30 23:29] grvvy opened #243 "Windows greatfet command should strip .exe from command names"
[code]

[2019-06-07 22:23] mossmann opened #244 "validate Python2 installation and usage"

[2019-06-07 22:27] mossmann commented on #244
One thing that needs to be done is to update libgreat in master for this fix:
https://github.com/greatscottgadgets/libgreat/issues/1

[2019-06-07 22:53] ktemkin opened #245 "Finalize udev rule installation method"
We should make it easy for users to install the udev rules, e.g. if they install from pip.

[2019-06-07 23:03] mossmann opened #246 "fix CI errors"
Continuous integration builds are failing, probably for multiple reasons.

[2019-06-07 23:13] mossmann opened #247 "fix greatfet_adc.py"
It currently appears to be trying but failing to stream.  It should do a one-shot reading instead of streaming by default.  Streaming should work.  It shouldn't dump so much debug output by default. The -a option looks like it should go away.  Check the other options for sanity too.

[2019-06-07 23:14] mossmann commented on #244
I'll do some more testing.

[2019-06-09 20:48] straithe opened #248 "greatfet info command Input/Output Error"
### Steps to reproduce
1.  Followed the tutorial up to the step "Check your GreatFET One".

### Expected behaviour
I expected the command "greatfet info" to show my info about my GreatFet.

### Actual behaviour
I got a traceback that ended in "usb.core.USBError: [Errno 5] Input/Output Error"

### Attempted fixes
* Restarted my computer between attempts.
* Ran the greatfet info command with sudo an

[2019-06-09 20:59] straithe commented on #248
In an attempt to solve this issue:
* I did an apt-get install dfu-util.
* I ran greatfet fw -d --auto.
* The command appeared to work and gave me the output:
Opening DFU capable USB device...
ID 1fc9:000c
Run-time device DFU version 0100
Claiming USB DFU Interface...
Setting Alternate Setting #0 ...
Determining device status: state = dfuIDLE, status = 0
dfuIDLE, continuing
DFU mode device DFU vers

[2019-06-09 21:20] straithe opened #249 "pushd and popd not found"
My bash has popd and pushd, but my /bin/sh does not. I am on Ubuntu 18.04.02.

sudo make install
git submodule update --init
Submodule 'firmware/libopencm3' (https://github.com/dominicgs/libopencm3) registered for path 'firmware/libopencm3'
Submodule 'libgreat' (https://github.com/greatscottgadgets/libgreat) registered for path 'libgreat'
Cloning into '/home/straithe/Desktop/greatfet/firmware/libo

[2019-06-09 21:31] straithe commented on #248
I installed from source commit f82c9 and it appeared to work, but when I ran the greatfet info command again I got the same error message as is in my initial issue comment.

[2019-06-11 21:28] mteears opened #250 "Unknown error while querying info from VMWare Virtual Machine"
I am receiving a series of errors when trying to initiate a connection with the GreatFET in a virtual machine running Kali Linux 19.02.  The error is as follows:

root@kali:~# gf info
Traceback (most recent call last):
  File "/usr/local/bin/greatfet_info", line 10, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.7/dist-packages/greatfet/commands/greatfet_info.py", line 94, in main

[2019-06-12 11:42] mossmann commented on #248
I was unable to reproduce this error on a fresh Ubuntu 18.04.2 installation with 2018.12.1 firmware.

[2019-06-12 11:45] mossmann commented on #250
Can you try `sudo gf info` to check if it is a permissions problem?

[2019-06-12 12:09] mossmann opened #251 "Python2: No module named functools_lru_cache"
[code]

This happens despite backports.functools-lru-cache having been installed by pip2 as a dependency.  I can find it in /usr/local/lib/python2.7/dist-packages/backports/.

I'm on Ubuntu 19.04.

[2019-06-12 12:12] mossmann commented on #251
The backports import path does not include /usr/local/lib/python2.7/dist-packages/.

[code]

[2019-06-12 12:17] mossmann commented on #251
workaround:

[code]

[2019-06-12 12:41] mossmann opened #252 "Python2: No module named boards.flash_stub"
This happened after installing greatfet-2019.5.1.dev0 with pip2:

[code]

I was able to workaround the problem by uninstalling with pip2 and installing from source, but I'm not sure if this is something that has been fixed or if it is something having to do with the installation method.

[2019-06-12 12:43] mossmann commented on #244
I ran into #251 and #252, both of which have workarounds but may be things that should be fixed.

[2019-06-12 13:07] mossmann commented on #249
I reproduced this on Ubuntu 19.04. The pushd and popd commands are available in bash but not dash (which is what /bin/sh is a  symlink to).

[2019-06-12 13:45] mossmann commented on #252
I'm assuming this has been fixed because I could not reproduce the error after installing a .whl produced by `make prepare_release`.

[2019-06-12 13:45] #252 closed, assigned to mossmann

[2019-06-12 13:45] ktemkin commented on #251
Can you check to see if an apt/dpkg package owns the /use/lib backports, and if so, which one?

It sounds like a backports package was installed with the system package manager; which precludes use of the pip subpackage installed in local. One solution might be to instruct users to install using a pip argument to place packages in a better location (possibly using —user?).

[2019-06-12 13:50] mossmann commented on #251
configparser is the only other thing in /usr/lib/python2.7/dist-packages/backports

[2019-06-12 13:55] mossmann commented on #251
`sudo apt remove python-configparser` tells me that it would also remove python-entrypoints and python-keyring.

[2019-06-12 13:59] mossmann commented on #247
Streaming now appears to be working (in Python2 on Ubuntu 19.04).  Perhaps I misinterpreted the results when I opened this issue, or perhaps it only works on some platforms.

[2019-06-12 14:01] mossmann commented on #244
I'm closing this and adding #251 to the next release project (at least for now).

[2019-06-12 14:01] #244 closed, assigned to mossmann

[2019-06-12 14:18] mteears commented on #250
`sudo gf info` returns the same error.

However, when the VM doesn't have the GreatFET connected to it, Device Manager on the Windows Host machine does not have any drivers for the GreatFET device (Code 28).  I believe that this may be causing the communication issues between the Linux VM and the GreatFET.  I will try and reproduce this issue on a machine running linux natively.

[2019-06-12 14:25] mossmann opened #254 "wrong firmware version string in make prepare_release"
`make prepare_release` writes to the VERSION file used in the firmware build, but it does so after the firmware is built.  The resulting version string in the built firmware is whatever was previously in the VERSION file (or 'git-unknown' if there was no VERSION file).

[2019-06-12 14:28] mossmann commented on #254
workaround: edit VERSION and libgreat/VERSION (actually is that one even used?) manually before running `make prepare_release`.

[2019-06-12 23:18] mteears commented on #250
Two different machines running Manjaro natively fail to detect the GreatFET.  Running `sudo gf info` returns `No GreatFET found` rather than an exception trace.  Will install Ubuntu and try again.

[2019-06-13 00:22] ktemkin opened #255 "Add the device-sleep fix (GET_STATUS) to GreatFET (copying it over from HackRF)."
This was included in my rewritten USB stack, but not in the stack for this release.

I should just copy the HackRF implementation, for now. :)

[2019-06-13 03:25] evanrichter commented on #248
This seems like it could be the same error I am getting: https://pairlist3.pair.net/pipermail/greatfet/2019-June/000034.html

Try calling `gf info; gf info`

I bet the second call will work.

Kate Tempkin replied to me suggesting it could be the host computer putting the USB device to sleep as a power saving strategy. I haven't tried that yet though I think her idea is right.

[2019-06-13 03:56] straithe commented on #248
Just tried out your suggestion of running gf info; gf info, and it worked! Thank you, @evanrichter and @ktemkin for the (partial) fix.

Additionally, in the provided link, the suggestion of running gf shell in one terminal and doing other GreatFET things in another terminal is working out and is allowing me to progress through the tutorials.

Thank you!

[2019-06-13 20:44] evanrichter commented on #248
Great! glad to get it up and running.
To report back, @ktemkin was completely correct in her assessment. I adjusted my TLP config (`/etc/default/tlp` on arch) to include the line:
`USB_BLACKLIST="1d50:60e6"`
which blacklists the greatfet from usb autosuspend

It looks like #255 could be another workaround for the issue

[2019-06-17 06:34] jsmith79 commented on #250
I am having the same issue when using VM Ware Workstation 12 on a windows 10 host with Ubuntu 18.04 LTS vm, When using on VMware Fusion on MacOS and a Ubuntu 18.04 LTS vm it works ok.

[2019-06-17 14:25] mteears commented on #250
I installed Ubuntu 19.04 on hardware and no connection issues.

[2019-06-19 23:12] mossmann opened #257 "greatfet_msp430.py lacks Python2 support"
[code]
This is just the first of various Python2 incompatibilities.

[2019-06-19 23:26] mossmann commented on #247
Streaming also works in Python3 on Ubuntu 19.04.

[2019-06-25 21:50] szczys opened #259 "dfu-util: unable to read DFU status after completion"
I was playing around with Python apis and used onboard_flash which I believe overwrote the firmware? Trying now to use DFU to recover but not having success. Any idea where I'm going wrong?

[code]

[2019-06-25 23:21] ktemkin commented on #259
This message is normal -- the DFU implementation on the NXP chips doesn't support status readback. Once you see the "download done" message, it's still programmed the board; `dfu-util` just emits an (admittedly error-looking) status message.

At that point, you should see the normal heartbeat on the GreatFET -- unless you've run into another issue. (I have seen reports that some Ubuntu distributio

[2019-06-25 23:27] szczys commented on #259
Thanks! I wasn't getting a heartbeat after programming. The gf fw dfu method worked great and I'm back in business.

[2019-06-25 23:27] #259 closed, assigned to ktemkin

[2019-07-02 16:15] szczys commented on #248
I can confirm the same problem on a Dell XPS 13 laptop running Ubuntu 18.04 bionic

Adding the blacklist line mention above to /etc/default/tlp and then running `sudo tlp start` then replugging the GreatFET solved my issue.

[2019-07-10 07:11] yuvadm commented on #251
This error should be fixed by https://github.com/greatscottgadgets/libgreat/pull/5

[2019-07-12 17:45] kopasiak opened #260 "Unable to flash GF1"
I've soldered two GF1 boards but I'm unable to flash or program any of those.
When I run:

[code]

The command finishes successfully but there the board performs a reset and there is no blinking LED nor USB connectivity

I tried to also flash the board but then I get:

[code]
I expect that this should be some symlink but I've no idea to which file it should point?

Any ideas how to fix flashing an

[2019-07-12 20:38] ktemkin commented on #260
Hi, Krzysztof:

You'll need to have the GreatFET host tools installed (or in your PYTHONPATH) for those commands to work. The easiest way to install is from pip:

[code]

If you want, once you have the tools installed, you can install the latest release firmware without building anything. With the device in DFU mode:

[code]

-- Kate

[2019-07-12 20:38] ktemkin commented on #260
Closing this, as it has a solution -- if the above doesn't work for you, feel free to reply and I'll re-open the issue. :)

[2019-07-12 20:38] #260 closed, assigned to ktemkin

[2019-07-13 21:28] kopasiak commented on #260
Yeah, I had this installed, just forgot that sudo doesn't play well with python virtual env;)

Unfortunately this didn't took me too much further as the board is still not responding after:

[code]

There is no blinking LED and the device is not detected by the host:

[code]

I've tried also to flash the blinky firmware but effect was pretty much the same:(

Do you have any ideas what I could chec

[2019-07-13 21:36] kopasiak commented on #260
Fast update from my site. I was able to get the board working using the command that you mentioned:

[code]

I guess that this command flashes the prebuild firmware to the the board so it's not actually what I wanted to achieve but at least I know that the HW is OK. I have seen in one of the issues that you are aware of build problems on Ubuntu so maybe it's just one of them? I'm currently running

[2019-07-17 20:43] kopasiak opened #261 "Unable to build firmware on Ubuntu 18.04"
I'm trying to build greatfet firmware on Ubuntu 18.04. Compilation goes smoothly, there is no outstanding errors and I get two output files:
greatfet_usb.bin
greatfet_usb_dfu

The issue is that if I try to upload greatfet_usb to RAM using DFU the process finishes but there is no heartbeat nor USB connectivity to the board.

On the other hand, if I first preflash the board with flash_stub.dfu that

[2019-07-17 21:12] kopasiak commented on #261
I've just also tried to build flash_stub but effect is the same. I've attached a flash_stub binary built on my system for you to test. I'm building from latest release tag which is v2019.5.1.dev0.
[flash_stub.zip](https://github.com/greatscottgadgets/greatfet/files/3403858/flash_stub.zip)

[2019-07-18 15:47] vergil-SI commented on #248
Same here on a Dell XPS 15 running 18.04. The fix @evanrichter mentioned worked for me as well.

[2019-07-22 22:56] ktemkin commented on #246
this looks green again :tada:

[![Build Status](https://travis-ci.org/greatscottgadgets/greatfet.svg?branch=master)](https://travis-ci.org/greatscottgadgets/greatfet)

[2019-07-22 22:56] #246 closed, assigned to ktemkin

[2019-07-25 00:53] #254 closed, assigned to ktemkin

[2019-07-25 02:09] #255 closed, assigned to ktemkin

[2019-07-25 02:10] ktemkin commented on #255
This was integrated into libgreat; so this should be done. :)

[2019-07-25 02:10] ktemkin commented on #249
Done, and merged. Thanks for the report. :)

[2019-07-25 02:10] #249 closed, assigned to mossmann, ktemkin, straithe

[2019-07-25 02:27] ktemkin commented on #247
Yep -- it looks like streaming is working, but the tool's usage is pretty counter-intuitive. This should definitely be rewritten soon.

[2019-07-25 03:18] ktemkin commented on #247
Started some work on this. The tool now, by default, outputs:

[code]

(I'd love to truncate the amount of significant digits we have on there to better match the ADC accuracy, but floating point makes that a bit messy.)

[2019-07-25 10:35] yuvadm commented on #245
Installing udev rules is usually handled by the system package manager (e.g. [how it's done in Arch](https://aur.archlinux.org/cgit/aur.git/tree/PKGBUILD?h=greatfet-git))

Maybe the right way to handle this is to print a nice hint in case a board is not found due to insufficient permissions on the device?

[2019-07-25 19:48] ktemkin commented on #245
For distribution provided packages, the maintainers including the udev rules in each package is absolutely the way to go.

For users whose distribution doesn't provide a package (or an equivalent to the AUR), installing from `pip` is a good option (especially with `--user`). It'd be nice to be able to support them by e.g. having a greatfet subcommand that ensures e.g. udev rules are installed and

[2019-07-29 09:43] #243 closed, assigned to ktemkin, Qyriad

[2019-08-09 17:04] tesslinger commented on #261
I figure out similar problems.

For me also only works when using the python package which comes from pip.
DFU works here, but when it flashs to the SPI flash and resets nothing happens again...

@kopasiak what have you done to get it work?

With the binaries from the git repo it doesn't work...

[2019-08-09 17:42] kopasiak commented on #261
The answer is quite straight forward. I've never managed to get it to work but I've found some workaround.

Basically there are two parts of the firmware that you are building the flash-stub and the main firmware. Even through you should be able to flash the main firmware via dfu the flashing process is usually done two-steps. First you flash the stub via dfu and then you flash the main firmware u

[2019-08-09 20:01] ktemkin commented on #261
Are you (users other than the OP), by chance, on a Debian-derived distribution (e.g. Debian, Ubuntu, Kali)?

I've seen an issue where their compilers seem to produce invalid DFU binaries -- though the non-DFU binaries seem to work fine. I haven't had a chance to look into it.

[2019-08-09 20:11] kopasiak commented on #261
Yes I do, I'm on Ubuntu 18.04.

I've seen this ticket and tried even to use some old compiler as suggested somewhere but it didn't helped.

[2019-08-09 20:24] #245 closed, assigned to ktemkin, Qyriad

[2019-08-10 07:08] tesslinger commented on #261
so I tried it on a Debian(4.9) and Ubuntu (18.04)

[code]

When I do now the reset, no heartbeat comes, everything is lost
I did ``gf fw --dfu --autoflash`` from a vm and flashed dfu. That worked. The firmware was also flashed but it didn't work after reset.
and I also tried using the first step of ``gf fw --dfu --autoflash`` and the command ``greatfet_firmware -w greatfet_usb.bin`` with the compi

[2019-08-12 06:32] ikarus23 commented on #257
Don't get me wrong. I admire the goal to make GreatFET python 2 compatible. But what is about https://pythonclock.org/? Python 2 will be out of support in 4 moth. Is the effort really worth it? Do I miss something?

[2019-08-13 19:14] ktemkin commented on #247
The branch https://github.com/ktemkin/greatfet/tree/adc_rewrite has this pretty much done, but there are a few improvements I'd love to see as this is merged:

- An `ADC` class under "peripherals" in the host code. Ideally, this would have arguments that let you select the ADC parameters (especially which ADC), and maybe a function that lets you adjust the number of significant bits on the fly.
-

[2019-08-13 21:12] marcusbarbu commented on #250
I've observed the `No GreatFET found` behavior on both an 18.04 Ubuntu VM in VMWare Player and on a Windows 10 host when running `gf info`

[2019-08-14 13:29] AsFaBw opened #16 "Non-GSG neighbor naming"
Dear GSG-Team,

I have started to build a neighbor ( https://github.com/AsFaBw/greatfet-erica ) and called the neighbor GreatFET-Erica.

Meanhwhile I am not sure anymore, if the "GreatFET" may be used for non Great Scott Gadgets neighbors. On one hand "GreatFET" was within the template. On the other hand "GreatFET" is a registered trademark according to https://greatscottgadgets.com/trademarks/ .

[2019-08-19 19:43] mossmann commented on #16
I posted some guidelines for you (and others): https://github.com/greatscottgadgets/greatfet/wiki/Board-Naming

This repo is deprecated and will be removed soon.  Please use the [GreatFET issues list](https://github.com/greatscottgadgets/greatfet/issues) for general GreatFET issues.

[2019-08-19 19:43] #16 closed

[2019-08-20 14:37] ktemkin opened #273 "Add PWM to the pattern-generator patterns."
This gives us a quick way to do PWM prior to us implementing a proper LPC43xx driver.

[2019-08-20 15:43] Qyriad commented on #251
So this issue is a little bit interesting.

Installing `python-backports.functools-lru-cache` with apt, and then installing greatfet (and libgreat) either with pip or `python setup.py install`, and either with `--user` or not, works just fine.

Installing greatfet and libgreat with `python setup.py install` (`--user` or not), but *without* having installed `python-backports.functools-lru-cache` wi

[2019-08-20 15:51] ktemkin commented on #251
I agree that having them install that via the system package manager is the right way to do things. I'd like it if the `--ensure-access` script could detect this condition and tell users what to do. :)

[2019-08-20 20:00] yuvadm commented on #251
@Qyriad @ktemkin To reiterate my comment from https://github.com/greatscottgadgets/libgreat/pull/5#issuecomment-513448744, some distros such as Arch, and possibly others, *do not* have that package to install. There's no reason for such a package to exist for Python 3-based installations.

[2019-08-21 18:35] ktemkin commented on #251
1. This issue specifically is with respect to using `python2`; which is unfortunately still necessary for a few key tools. In particular, the stable branch of `gnuradio` still requires py2, even on Arch. (For reference, Arch is my primary distribution, and has been for nearly fifteen years).

    For those cases, Arch does indeed have a package to be installed:

[code]

2. I'm a bit *less* concern

[2019-08-21 22:49] yuvadm commented on #251
@ktemkin thanks for the thorough reply, I fully appreciate and agree with every single point you've made.

The only gripe I have is that this issue seems to be a duplicate of https://github.com/greatscottgadgets/libgreat/issues/2 which *is* a `python3` issue.

I might be missing something, but it's not clear to me how as an Arch user (or packager for that matter) I can do a plain `python3`-based s

[2019-08-22 22:30] #247 closed, assigned to mossmann, ktemkin, Qyriad

[2019-08-22 22:39] ktemkin commented on #257
Our unofficial python2 support is mostly out of a need to be usable from a few key packages (e.g. `gnuradio`) that only support py2. :(

Once gnuradio has stable releases based on py3 (and they're available in distro repos), I'll more than gladly drop support for py2. :)

[2019-08-22 22:55] ktemkin commented on #248
This is less a workaround and more fixing compatibility with USB suspend on Linux; but it should fix the problem. This should be fixed on master, so I'm going to close the issue.

If anyone here is interested in trying the fix out, you can grab the current build of the GreatFET firmware from:

https://nightlies.ktemkin.com/greatfet/2019/08/greatfet-2019-08-16-build_463-git_5fd862d.zip

[2019-08-22 22:55] #248 closed, assigned to ktemkin

[2019-08-23 06:56] ikarus23 commented on #257
Thanks Kate, I understand. Lets hope it will be soon. My Arch Linux already has gnuradio 3.8.0.0 since they released it 2 weeks ago. ;)

[2019-08-24 22:20] ktemkin commented on #261
So -- @qyriad and I spent some time looking at this earlier this week, and it turned out the issue was *cmake* related. Our CMake definitions were accidentally applying the wrong linker script due to a change in where it keeps a linker-related option.

That said, the whole process inspired me to restructure how we handle upload-to-RAM in DFU mode. Current master now has runtime relocation detectio

[2019-08-24 22:20] #261 closed, assigned to ktemkin, Qyriad

[2019-08-28 17:43] ktemkin opened #277 "Move queue heads out of `usb_peripheral_t` to save space"
The `usb_peripheral_t` is an initialized data structure; and thus winds up in `.data`. It also contains aligned data elements (e.g. the queue heads) which are fine to zero-initialize.

These should be moved to a separate data structure, so they can be placed into the `.bss` instead of the (more limited) shadow region / first block of RAM.

[2019-08-28 19:21] ktemkin opened #278 "Greatfet 'recipe' collection"
We should have short pieces of example code showing how to use various GreatFET functionality for users; likely captured in the wiki. Ideally, where applicable, the would show how to use the relevant functionality from both the command line and python.

A good starting set would be:

- [x] List the available functionality from GreatFET (interfaces & APIs).
- [x] Debug ring / dmesg.
- [ ] SPI flash

[2019-08-28 23:35] ktemkin opened #279 "Backend for an external SPI flash utility (e.g. flashrom)"
If possible, we should provide a backend for `flashrom` (or equivalent) that allows the GreatFET to be used as a flash programmer.

[2019-08-29 17:00] kopasiak commented on #261
I've just checked the recent master branch and now it all works fine for me. Thank you @ktemkin and @Qyriad  for fixing this issue.

[2019-09-03 18:26] #251 closed, assigned to mossmann, ktemkin, Qyriad

[2019-09-09 14:16] mrstock opened #282 "No backend available on macOS Mojave ( 10.14.6 )"
I'm trying to run greatfet on a mac without success :

[code]
Same result using "sudo".

Any attempt to use the usb port produces this effect.

I have already installed the following packages :

pip3 install pyusb
pip3 install libusb

Someone managed to get it running ? or could you suggest me a way ?

Thank you

[2019-09-09 23:10] Qyriad commented on #282
You'll have to install the libusb C library; the libusb pip package isn't necessary. If you have Homebrew, you should be able to run `brew install libusb` to take care of that.

[2019-09-10 07:03] mrstock commented on #282
[code]
Thank you, but same result ...

It seems to be a widespread problem, even on other repos that use USB ports ( with macOS 10.14.x )

[2019-09-10 19:45] mrstock commented on #282
I found a solution :

macOS search for the library "libusb" through this code :

`https://github.com/python/cpython/blob/master/Lib/ctypes/util.py`

[code]

The backend libusb1 search for this terms :

[code]
so the name libusb-1.0.0.dylib will never be found.

Workaround : create a symlink named **libusb-1.0.dylib** linked to the right library **libusb-1.0.0.dylib**

[code]

[2019-09-11 21:24] reverse0x90 opened #283 "USB packets that are 64 byte aligned in data size are not forwarded through the usbproxy on the GreatFET One"
USB packets that are 64 byte aligned in data size (1024, 2048, etc) are not forwarded through the usbproxy (see example below):

**65 bytes of data (packet gets forwarded through the usbproxy on the GreatFET)**
[code]
**64 bytes of data (operation times out and packet is not shown in GreatFET usbproxy output)**
[code]
 **GreatFET usbproxy output**
[code]

[2019-09-12 16:40] Qyriad commented on #282
As you discovered, this does seem to be a PyUSB issue: specifically pyusb/pyusb#215. We may have to wait for this to be fixed in upstream, but we might want to document the problem in the meantime.

[2019-09-13 03:29] mossmann opened #286 "greatfet logic drops samples at higher sample rates"
On my system it starts dropping samples at about 6 MB/s.  I used to get 17 MB/s reliably, and I would like to get 40+ MB/s.

To test I ran `./greatfet_logic.py -f 6000000 -n 8 -O | dd of=/dev/null status=progress` for 100 seconds.

Results:
[code]

[2019-09-14 12:43] tesslinger commented on #261
Thank you,
for me the same issue as described above exists still. After dfu I see the heartbeat, after SPI flashing nothing goes on...

[2019-09-14 19:42] ktemkin commented on #261
@coley7 To confirm, you're saying that _DFU_ works, but writing to _flash_ doesn't? That'd be a different behavior than what others have reported in the issue.

[2019-09-15 06:46] tesslinger commented on #261
DFU works, It writes also to flash (the program says it writes to flash) but after reset nothing appears

[2019-09-15 20:29] kopasiak commented on #261
Make sure that you rebuild all the components including dependencies. It would be best if you could try a fresh clone a do a full rebuild step by step as cmake likes to have some leftovers (unless you rm -rf all build directories, that's also a valid option)

[2019-09-16 10:37] Qyriad commented on #283
So Linux seems to actually violate the USB spec and not send short packets to terminate a control transfer if the length is a multiple of the max packet size, but some devices seem to be just fine with this, and act as if the transfer is complete once the specified amount of data has been received.
So, with #287, we now emulate this in GreatDancer and consider a control transfer to be completed ei

[2019-09-16 16:53] tesslinger commented on #261
ok I have missed the installation...
[code]
What could be the problem there?

[2019-09-16 17:11] ktemkin commented on #261
Sounds like you upgraded GreatFET without upgrading pygreat. Make sure you’ve installed a dev version of pygreat as well (from libgreat/host). :)

[2019-09-16 21:06] tesslinger commented on #261
thanks, I also did ìn libgreat/host ` sudo python3 setup.py install `.
Has it be a special commit? I was working on the tag v2019.9.1

Tried also with python2 but then another error occours:

[code]

[2019-09-17 18:44] Qyriad commented on #261
Looks like `greatfet` was installed with Python 2, but `libgreat` with Python 3. I recommend `pip2 uninstall greatfet` followed by `pip3 install greatfet` or `python3 setup.py install`.

[2019-09-17 18:59] #283 closed, assigned to Qyriad

[2019-09-17 19:10] #242 closed, assigned to ktemkin

[2019-09-17 23:02] ktemkin opened #288 "host: spi_bus objects should take bus bitrates, rather than dividers"

[2019-09-17 23:19] ktemkin opened #289 "NVIC drivers should be switched to libgreat"

[2019-09-17 23:22] ktemkin opened #290 "i2c drivers still depend on libopencm3"

[2019-09-17 23:22] ktemkin opened #291 "USB drivers use deprecated libopencm3 APIs"

[2019-09-17 23:22] ktemkin opened #292 "SDIR has legacy pieces that still use libopencm3 timers"

[2019-09-17 23:22] ktemkin opened #293 "SCU pinmuxing should be switched over to libgreat"

[2019-09-17 23:28] ktemkin opened #294 "some lpc43xx control registers are missing from libgreat"
There are things defined in lpc43xx's `creg.h` that are missing from libgreat; these need to be implemented.

[2019-09-17 23:30] ktemkin opened #295 "DAC driver still uses libopencm3"

[2019-09-17 23:30] ktemkin opened #296 "GPIO interrupt drivers still use libopencm3"

[2019-09-17 23:30] ktemkin opened #297 "GPDMA drivers still depend on libopencm3"

[2019-09-17 23:30] ktemkin opened #298 "SPIFI headers still depend on libopencm3"

[2019-09-17 23:31] ktemkin opened #299 "SSP driver still depends on libopencm3"

[2019-09-17 23:31] ktemkin opened #300 "ADC driver still depends on libopencm3"

[2019-09-17 23:31] ktemkin opened #301 "SPI driver still depends on libopencm3"

[2019-09-17 23:31] ktemkin opened #302 "libgreat's platform_config still refers to a libopencm3 header"

[2019-09-17 23:31] ktemkin opened #303 "linker scripts still claim they're part of libopencm3"

[2019-09-17 23:31] ktemkin opened #304 "glitchkit core still refers to libopencm3"

[2019-09-17 23:31] ktemkin opened #305 "debug UART drivers still reference libopencm3"

[2019-09-17 23:32] ktemkin opened #306 "GreatFET lowlevel should be able to generate template bitfield structs"
These will help in creating peripheral drivers for libgreat.

[2019-09-17 23:35] ktemkin opened #307 "Finish testing and merge in cleaned-up USB stack"
A cleaned-up USB stack was started; and lives my fork; but I wound up distracted months ago and never merged it. >.>

[2019-09-18 08:59] tesslinger commented on #261
thanks. That worked in addition to remove all relevant packages in the dist-packes folder.
Now the flash process worked :-)

[code]

The problem is now as before, that nothing happens after the reset. No LED, no USB device appears...
Any idea? How to find out what's the problem? I have no debugger for the board available.

[2019-09-19 18:55] Qyriad commented on #261
Could you try flashing one of the [nightly builds](https://nightlies.ktemkin.com/greatfet/2019/09/)?
[code]

[2019-09-20 16:41] tesslinger commented on #261
also nothing happens...

I tried following ones:
greatfet-2019-09-17-build_506-git_3572a24.tar.xz
greatfet-2019-09-17-build_505-git_c91bda3.tar.xz
greatfet-2019-09-13-build_499-git_67c6421.tar.xz
greatfet-2019-09-02-build_479-git_9a2c430.tar.xz

Is there a way to verify that it's not a hardware issue?

[2019-09-20 16:45] mrstock commented on #261
did you try ? :

`gf info`

and

`gf dmesg`

[2019-09-20 19:20] tesslinger commented on #261
thanks for your response. I did `gf fw -d --autoflash` and executed the following commands after the DFU flashing.

[code]

[2019-09-20 23:15] mrstock commented on #261
hum ... your board is in flash-stub mode ...

A normal behavior should be :

[code]
[code]

Edit : can you try with ? :

`gf fw --auto`
( avoiding the -d option )

[2019-09-24 00:06] Qyriad opened #310 "Add a WinUSB comms backend"
Currently on Windows we require use of something like Zadig to install libusb-win32 for GreatFET. Instead we should just write a backend for communications over WinUSB.

[2019-09-24 09:27] tesslinger commented on #261
The -d option is afaik for DFU. What I want to say is that the board is only visible as DFU device for me. Afterwards the SPI chip is flashed and the reset comes nothing is happening...
So `gw fw --auto` is not working for me because I need the DFU mode.

[2019-09-24 09:32] mrstock commented on #261
I see, sorry I can't help you on this issue, maybe @ktemkin or @Qyriad can tell you something more.

[2019-09-24 15:56] ktemkin commented on #261
This is a good suggestion. Can you try this immediately after issuing your DFU command (while your board is still in flash-stub mode), and report the output? So:

[code]

Normally, the second command wouldn't work -- but it looks like your board is being left in`flash-stub` mode.

Can you also try:

[code]

and see if your GreatFET boots?

[2019-09-26 06:35] #295 closed, assigned to Qyriad

[2019-10-05 14:41] mossmann commented on #286
@ktemkin was able to reproduce this on a Dell XPS 13 (similar to my test platform), but interestingly was able to achieve much higher speeds on different host hardware.

hackrf_transfer achieves 43 MB/s on my XPS 13, so, whatever host-specific issue the XPS 13 has, it doesn't affect HackRF (with basically the same microcontroller and very similar firmware).

[2019-10-06 23:37] ktemkin commented on #286
From what I can tell, it seems like the process of submitting / "reaping" an URB takes significantly longer on some hardware platforms than others. This would explain why HackRF doesn't display the relevant behavior on those machines (as asynchronous transactions effectively submit their URBs in parallel with data being handled, so a long URB-submission time doesn't result in an overrun).

I've ex

[2019-10-07 03:49] mossmann commented on #286
I get:
[code]
Is this device maybe using pyusb instead of libusb1?  (I don't get this far unless both are installed.)

[2019-10-07 05:51] ktemkin commented on #286
That sounds like it’s loading the wrong pygreat— can you confirm that the pygreat that’s being loaded is from my corresponding libgreat branch?

(You’ll still need pyusb; I didn’t remove all of the references to it in that test.)

[2019-10-07 17:13] mossmann commented on #286
Oops.  You are correct.  I cleaned things up, and it works:
[code]
Also it makes my laptop much louder!  There seems to be some audio information leakage that is hitting a resonant frequency.  :)

[2019-10-07 18:03] mossmann commented on #286
I repeated some of the tests from my original post:
[code]
Asynchronous USB definitely helps a great deal, but there is still room for improvement.  So far it looks like the remaining slowness is mostly in sample unpacking on the host.

[2019-10-07 19:49] ktemkin commented on #286
Yeah; the pure-python sample unpacking doesn't work super well. I have some ideas to improve them; but they haven't been a priority.

[2019-10-28 04:00] mossmann commented on #286
Now async USB is working perfectly for me. I was able to achieve 102 Msps with -n 2 by skipping the unpacking:
https://github.com/mossmann/greatfet/tree/python-libusb1

[2019-11-01 11:21] tesslinger commented on #261
sorry for the long delay. Same issue as before.
Is there a way to verify that's not a problem with the hardware?

[2019-11-17 04:50] cdwilson opened #316 "undefined reference to `capture_buffer_write_position`"
I'm trying to build the firmware for the first time, and when I run `make`, I'm getting the linker error below.  Any idea what may be causing this?  (I just got a GreatFET last night, so I'm not sure if I missed something, or if this is an actual issue)

In case it matters, I'm trying to compile using the GNU Arm Embedded Toolchain
Version `9-2019-q4-major` installed via homebrew on macOS 10.15.1

[2019-11-17 08:29] leon-uhs commented on #316
I am the same problem.  KALI 2019

[2019-11-19 01:48] ktemkin commented on #316
This was a rebasey-issue, and should be fixed. CI build is passing, so I'm closing this.

Let me know if you have any issues, still. :)

[2019-11-19 01:48] #316 closed, assigned to ktemkin

[2019-11-19 04:46] cdwilson commented on #316
Pulled the latest and it's working now.  Thanks Kate!

[2019-11-19 05:47] leon-uhs opened #318 "The LPC4330 has a high temperature."
After running IPython, the LED flashing can be controlled normally, but the LPC4330 is severely hot.Estimated temperature is 50 ° C Is this a common phenomenon?  Or how many degrees Celsius is normal?

[2019-11-21 06:57] #318 closed, assigned to nobody

[2019-11-26 03:21] decidedlygray opened #321 "Issue building NXP LPC4330 Xplorer"
Hello,

I'm hoping you can help me out. I'm currently not able to build the firmware for the NXP LPC4330 Xplorer board. I've read up on the issue here: #1  and followed the instructions here: https://github.com/greatscottgadgets/greatfet/wiki/Getting-Started-with-Firmware-Development

`libopencm3` built fine, but with `greatfet_usb` I get all the way here and get some errors about undeclared ident

[2019-11-26 03:24] decidedlygray commented on #321
I also tried using pre-libgreat, but then I run into this issue: https://github.com/greatscottgadgets/greatfet/issues/200 (fw builds and flashes, but then no gf utilities except greatfet info can interact with the board)

[2019-11-27 01:00] Microsparky opened #322 "I2C Python interface bug"
Firmware version: v2019.9.1

When using I2C from Python shell or form script the command gf.i2c.write(0x40, 0xFE) actually transmits the address and write as expected (0x80) but then transmits 254 0x00 bytes.

The write from command line however does work.

[2019-11-27 01:40] ktemkin commented on #322
This is a python 'quirk' -- that argument expects an argument of type `bytes`, or something that can easily be converted to bytes. `bytes(0xFE)` produces a string of 254 zeroes.

Something like `bytes(0x40, [0xfe])` or `bytes(0x40, b"\xfe")` should work the way you want it to. Let me know if you have any more trouble. :)

[2019-11-27 01:40] #322 closed, assigned to ktemkin

[2019-12-12 17:18] osterwood opened #326 "SGPIO input wider than 8 bits"
I see the functionality to change the SGPIO system first input pin and bus width, and the note in libgreat about bus width being limited to 8 bits.

Is creating a >8 bit logic analyzer as 'simple' as creating two logic_analyzer instances?  But, it seems it's a singleton under `device.apis` on the host side.

Related question, can a single SGPIO input pin be configured as a clock source for two 8-p

[2019-12-13 08:48] h3rm1t-ms opened #327 "I/O Error on Windows 10"
I was trying to get my GreatFET Ne set on Windows 10 but getting errors while doing so. I followed the steps mentioned in https://greatscottgadgets.github.io/greatfet-tutorials/windows.html .
Here are the scenarios:
**Scenario-1:**
1. Installed greatfet tools through PIP in Anaconda Python 2019.10(Python version 3.7.4), installed usb drivers (libusb-win32 (v1.2.6.0)) through zadig. However the com

[2019-12-17 07:48] ktemkin commented on #326
[code]

Ideally, the API should be able to handle >8 bits readily, but there's one medium-ish TODO that's blocking this:

https://github.com/greatscottgadgets/libgreat/blob/master/firmware/platform/lpc43xx/drivers/sgpio_data.c#L551

Once this is done, two SGPIO instances can be instantiated, and then used to get e.g. 16-bit LA samples.

[2020-01-19 12:16] AsFaBw commented on #326
I would also love this function and ideally a short corresponding tutorial on how to access parallel ports from the GreatFET. As example atteching an ice40 to GreatFET for parallel Transfer.

[2020-01-20 05:40] ktemkin commented on #327
Sorry for the lack of response on this -- this must have slipped through the cracks. Assigning this to the engineer who handles user support; hopefully he'll get back to you in the next few days. :)

[2020-01-20 05:42] ktemkin commented on #321
I'd have to check this out -- since the LPC4330 Xplorer was discontinued, we haven't included it in our main tests. I can't promise it'll be soon (given the Xplorer is EOL'd), but I'll keep this on my TODO list.

[2020-01-26 00:42] miek opened #328 "UART baud rate is 16 times too slow when fractional divisor is unused"
When I run `gf uart` (using the default baud of 115200), the following divisors are calculated & the output is all correct when checked on a scope:

    [   522932871] uart: achieved 115210 for a desired baud of 115200.
    [   522932889] uart: (divider values were: idiv=83 fdiv=1 mul=3)

However, when I run `gf uart 19200` and check the TX output on a scope, I measure the baud rate as about 1200b

[2020-01-30 15:40] #328 closed, assigned to ktemkin, Qyriad

[2020-02-07 13:47] thenniges opened #330 "Add a PWM driver for source coding"
Is there a way to turn on PWM's from a source file? All I can find is a way to create a pattern generator from the command line

[2020-02-23 15:42] aloeppert opened #333 "command line i2c util failing on write"
Hello GreatFET community. I recently tried using the great fet out of the box to do some i2c raw commands so I can verify expected values and communication with a known good host.  However I'm not seeing the expected results using the i2c utility.  I've posted some relevant command output to show my revision and that the scan function works as expected (showing the device at 0x60).

$ gf info
Foun

[2020-02-23 22:05] #333 closed, assigned to ktemkin, Qyriad

[2020-02-23 22:27] ktemkin commented on #333
Oops! Thanks for finding that -- that was a bug in the `i2c` command frontend.  It should be fixed in `master`. :)

Let me know if you need help getting onto e.g. a nightly build, or if you have any more trouble.

[2020-02-23 22:31] aloeppert commented on #333
Thanks for fixing so quickly. I'll probably not get to trying again until
tomorrow. Good to know there are people behind the project!

On Sun, Feb 23, 2020, 2:27 PM Kate Temkin <notifications@github.com> wrote:

[2020-04-01 19:16] osterwood commented on #310
FYI, I just published a Python wrapper around `wdi-simple` (a command line version of Zadig and part of the libwdi repo)

https://github.com/CapableRobot/CapableRobot_USBRegister

This package includes pre-built `wdi-simple` CLI binaries and a python wrapper around them, allowing for automation of device to driver registration -- no more asking end users to download Zadig and click buttons.

[2020-04-02 12:44] abahmer opened #336 "Greatfet py module is not installed"
HI,
I have installed the py package by
pip3 install --upgrade --user greatfet
and set path such that I can

**(base) ab@ab-Aspire-A114-32:~/anaconda3/envs/facedancer_new/Facedancer/examples$ gf info
Found a GreatFET One!
  Board ID: 0
  Firmware version: v2020.1.2
  Part ID: a0000a306d435c
  Serial number: 000057cc67e6315f1657**

but when I run ./rubber-ducky.py, it misses the module. What is wron

[2020-04-02 22:47] grvvy commented on #327
Sorry for the (continued) lack of response. Has this been resolved?

[2020-04-07 16:37] ktemkin commented on #336
Are you sure the two installs are making it into the same environment? It looks like your FaceDancer install is running in Anaconda; but you may be using your system pip to install GreatFET. :)

[2020-04-07 18:41] abahmer commented on #336
Thank you! I have solved the problem! Andreas

 
 

Gesendet: Dienstag, 07. April 2020 um 18:37 Uhr
Von: "Kate Temkin" <notifications@github.com>
An: "greatscottgadgets/greatfet" <greatfet@noreply.github.com>
Cc: "abahmer" <a_bahmer@gmx.de>, "Author" <author@noreply.github.com>
Betreff: Re: [greatscottgadgets/greatfet] Greatfet py module is not installed (#336)

 

Are you sure the two installs ar

[2020-04-17 16:58] Microsparky commented on #327
I am having the same issue (Scenario-2) on a Windows 10 Enterprise machine. I'm not sure if its related but on that machine Device Manager detects the GreatFET device as two interfaces: GreatFET (Interface 0) and GreatFET (Interface 1). On another Windows 10 machine I had no issues but Device Manager only detected the GreatFET as a single composite device.

Edit: @GravesJake

[2020-05-26 15:34] mbparks opened #338 "Running 'gf fw --auto' is not updating firmware"
I updated to 2019.9.1 last year.  Trying to upgrade to the latest firmware today.  Running 'gf fw --auto' is not doing anything.  Used pip to update host.  Before and after running 'gf fw --auto' the 'gf info' command shows firmware version to be 2019.9.1.  Any suggestions?  Running Windows 10 with all latest updates.

[2020-06-01 01:29] ktemkin commented on #338
Can you run `gf info -H` for me, and paste the output here? On recent-ish host tools, this prints information about the host tools version that are being used to run commands.

[2020-06-01 01:31] #336 closed, assigned to ktemkin

[2020-06-05 09:25] xs2rahulz commented on #251
▪	This is again a python 3 issue , or multiple pythons in your system issue
	▪	Clean your dev machine
	▪	Remove python3
	▪	Make softlinks to go to python2
	▪	If configparser gives issue , remove it via sudo sudo pip uninstall configparser
	▪	And then install via user

Similarly whatever module gives error , its because it either is still python3 redirected or via sudo
Easiest way is uninstall via

[2020-06-23 11:55] antzware opened #340 "gf logic temporary file permission issue on windows"
There seems to be a problem with the temporary file created with tempfile.NamedTemporaryFile in greatfet_logic.py as during the zip processing there will be a permission error like below
 File "c:\users\mozor\appdata\local\programs\python\python38\lib\zipfile.py", line 1775, in write
    with open(filename, "rb") as src, self.open(zinfo, 'w') as dest:
PermissionError: [Errno 13] Permission denied:

[2020-07-11 16:20] rflmota opened #341 "Change SPI peripheral clock frequency?"
Hello, I'm a recent GreatFET user and not much proficient in Python, and I've been struggling to find a way to change the default SPI peripheral clock frequency with GreatFET API. I've looked in the docs, search through code-base and GitHub issues but wasn't able to provide any examples on how to accomplish that. Can somebody provide me some hints? ty

[2020-07-12 14:58] mossmann commented on #341
I believe that you should be able to set the SPI clock frequency by instantiating a new SPIBus, like this:
[code]
However, this does not appear to be working. The clock frequency remains the same regardless of the freq_preset or other clock arguments I have tried. This may be a bug.

[2020-07-12 15:08] rflmota commented on #341
Hello @mossmann, indeed that's exactly what I've tried with the same result, so I was wondering if I wasn't issuing the right commands. I've even tried with a sequence of enable/disable peripheral and outside of "gf shell" prompt to make sure this wasn't a setting only able to configure at first instantiation, but the result was the same. I'll be following updates to a possible bug fix.

Thank you

[2020-07-17 01:08] #341 closed, assigned to mossmann, Qyriad

[2020-08-02 16:13] mrh1997 opened #344 "max_packet_size_ep0 < 32 bytes does not work"
When simulating a device with a max_packet_size_ep0 of 8 or 16 Bytes (32/64 Bytes work) replying to the 4th request will fail. In fact I do not know if it is definitiely the 4th request, but I did not find any other commonality (like number of transactions or timing).

I tested on Windows where the 3rd request is "GetDescriptor CONFIGURATION" which is processed correctly. The 4th request ("GetDesc

[2020-08-03 09:30] mrh1997 commented on #344
The following FaceDancer code can be used to reproduce the bug.

[code]

Please note that [this FaceDancer pullrequest](https://github.com/usb-tools/Facedancer/pull/45) is required to reproduce the bug

The outcome you can see in the analyser is like:

![grafik](https://user-images.githubusercontent.com/1482077/89167782-20bade80-d57c-11ea-85e4-bcbd0440dda9.png)

[2020-08-03 09:30] mrh1997 commented on #344
I forgotten to mention, than when setting ``max_packet_size_ep0      : int  = 64`` everything works as expected (aka GetDescriptor STRING and following commands are working)

[2020-08-10 18:37] ktemkin commented on #344
Hey! Thanks for the report!

@Qyriad would you be up for taking a look at this?

[2020-08-19 16:13] yuvadm commented on #279
Seems like this should be implemented on the https://github.com/flashrom/flashrom codebase rather than here?

I might start working on this soon, any guidance, pointers or ideas would be much appreciated.

[2020-08-21 22:39] pickeditmate opened #347 "gf pirate spi does not give the spi prompt."
issuing gf pirate spi drops in to i2c still.

C:\Users\user>gf pirate spi
Bus pirate emulation started! Press CTRL+D to quit.
Ctrl+C cancels the active command.

i2c>

[2020-08-31 20:10] pickeditmate opened #349 "Unable to sync greatfet firmware with gf fw --auto on kali"
I am attempting to get Jakes fork on to the greatfet but running in to a problem syncing with the host tools when running "gf fw --auto" which produces an error of "unrecognized argument --auto"

I believe the host tools are set up correctly as per greatfet/host/README.md

Please advise

Here is the output of gf info -H

kali@kali:~/JakeGraves/greatfet/host/greatfet$ gf info -H
Host tools info:

[2020-08-31 21:39] grvvy commented on #349
`--autoflash` is meant for when you [install the host tools via pip3](https://greatscottgadgets.github.io/greatfet-tutorials/getting-started.html). When building host/firmware from source, I'd recommend following the directions found [here](https://github.com/greatscottgadgets/greatfet/wiki/Getting-Started-with-Firmware-Development).

[2020-08-31 23:44] pickeditmate commented on #347
It looks like this issue has been fixed when compiling from source instead of using pip. Perhaps Windows users will still be seeing this issue though as I've changed over to Kali for easier testing.

[2020-08-31 23:47] pickeditmate commented on #349
Thank you Jake, I've just git cloned your chipcon branch so will let you know how it goes on the IM-ME in the next few days.

[2020-09-01 17:31] grvvy commented on #349
Sweet :)

[2020-09-01 17:31] #349 closed, assigned to grvvy

[2020-09-01 17:32] pickeditmate commented on #349
Try as I may, I cannot get the firmware to build on kali by either using python or python3. Is the bin file uploaded to anywhere so I can test with Jake's chipcon build?

[2020-09-01 17:33] #347 closed, assigned to nobody

[2020-09-01 17:34] grvvy commented on #349
From `/greatfet/`:
[code]
Doesn't produce a `greatfet_usb.bin` file?

[2020-09-01 17:54] pickeditmate commented on #349
I get the following after building with python 2.7

kali@kali:~/JakeGraves/greatfet/firmware/greatfet_usb$ sudo mkdir build
kali@kali:~/JakeGraves/greatfet/firmware/greatfet_usb$ cd build
kali@kali:~/JakeGraves/greatfet/firmware/greatfet_usb/build$ cmake ..
-- Fetching git submodules.
error: could not lock config file /home/kali/JakeGraves/greatfet/.git/modules/firmware/libopencm3/config: Permissi

[2020-09-01 18:03] grvvy commented on #349
What happens if you skip `make clean`?

[2020-09-01 19:12] pickeditmate commented on #349
Sorry for the delay, I had to deal with something at home.

If I go straight for sudo make I get this

kali@kali:~/JakeGraves/greatfet/firmware/greatfet_usb$ make
make: *** No targets specified and no makefile found.  Stop.
kali@kali:~/JakeGraves/greatfet/firmware/greatfet_usb$ sudo make
[sudo] password for kali:
make: *** No targets specified and no makefile found.  Stop.
kali@kali:~/JakeGraves/g

[2020-09-01 20:04] grvvy commented on #349
Try rerunning `cmake ..` as root.

[2020-09-01 20:24] pickeditmate commented on #349
It's not looking good still. I can paste my full output to pastebin if that may help. ( https://pastebin.com/pxzH6bnV )

But here is the error

kali@kali:~/JakeGraves/greatfet/firmware/libopencm3$ cd ../greatfet_usb
kali@kali:~/JakeGraves/greatfet/firmware/greatfet_usb$ sudo mkdir build
kali@kali:~/JakeGraves/greatfet/firmware/greatfet_usb$ cd build
kali@kali:~/JakeGraves/greatfet/firmware/greatfe

[2020-09-01 22:22] grvvy commented on #349
What version of cmake do you have installed?

[2020-09-01 22:28] grvvy commented on #349
Also, nightly builds are available here: https://nightlies.ktemkin.com/

[2020-09-01 22:32] pickeditmate commented on #349
Thanks Jake, I'll give the nightlies a go but really wanted to play with your chipcon addition.

cmake is on v3.16.3-3

[2020-09-01 22:36] grvvy commented on #349
The chipcon tool is still usable (and fully functional) inside of `gf shell`, the command-line convenience tool just hasn't been merged yet. But your cmake version looks to be compatible, my guess is that this is a Kali issue (those happen a lot for us). Could you try a different distro?

[2020-09-01 23:03] pickeditmate commented on #349
Yeah I'm happy to, are there any diatros you would suggest that can go straight on to a pi4? Tbh as long as I have the bin on the greatfet I'm happy to stick to Kali though (as long as it works still).
Is the chipcon tool available using just the pip install method? I don't remember seeing it, is that the swra one?

[2020-09-01 23:12] grvvy commented on #349
No I don't believe chipcon is available in the pip release but it's definitely available in the latest nightly build. And yes, the swra functionality is exposed to the python chipcon API. I'm not too familiar with rpi compatible distros unfortunately, I run ubuntu for reference.

[2020-09-01 23:17] pickeditmate commented on #349
Thank you Jake, for all your help and assistance, I needed some serious guidance and you were there every step of the way. Thank you.

[2020-09-01 23:43] grvvy commented on #349
No problem :)

[2020-09-19 12:21] pickeditmate opened #350 "Incomplete build instructions"
It seems that the instructions are missing some steps, I have installed the latest Ubuntu desktop and failing at the step of sudo apt-get
Specifically these 5 packages are not found:
gcc-arm-none-eabi
libnewlib-arm-none-eabi
dfu-util
python-setuptools
python-yaml

Is there a specific version of Ubuntu that comes with these packages? I would like to be using python3 where possible as I know that's

[2020-09-20 13:19] pickeditmate opened #351 "Chipcon ID 65535"
I am testing out the newest addition of greatfet chipcon CLI tool.
When issuing a gf chipcon --chip-id I'm getting a readout of "Chip ID : 65535" which seems rather strange, so wondering if someone else who has an imme or yardstick can test theirs to see if they get the same.

My wiring is J2.37 to !rst,
J2.39 to DD,
J2.38 to DC,
power and ground to +2.5V and gnd respectively.

[2020-09-22 21:56] grvvy commented on #351
Testing on yardstick I get `chip_id = 4355`. ~~Make sure to call `chipcon.debug_init()` before doing anything else.~~ Sorry that's for when you're working inside of `gf shell`.

[2020-09-22 22:11] grvvy commented on #351
My setup:
[code]
[GPIO pin definitions](https://github.com/greatscottgadgets/greatfet/blob/master/firmware/common/swra124.c#L13) along with their [pin mappings on the board](https://github.com/greatfet-hardware/azalea#j1-neighbor1-pinout).

[2020-09-22 22:47] grvvy commented on #350
What kind of not found error do you get? All of these packages show up in my installed apt packages in Ubuntu 20.04 (were not included with Ubuntu).

[2020-09-23 01:58] pickeditmate commented on #351
Thank you Jake, chip ID is now 259. I was using the pin mappings for the begonia neighbour https://github.com/greatfet-hardware/begonia directly.

Thanks for the help and for the links too as I struggle finding which pins to use other than what's on the cheat sheet picture and silk screen.

I wonder whether it's worthwhile having the pins as a comment in the swra library for others to not make the

[2020-09-23 01:58] #351 closed, assigned to grvvy

[2020-09-23 02:00] pickeditmate commented on #350
Ah I'm told I have to enable multiverse, sorry for the huge noob error on my part. PICNIC on my part.

[2020-09-23 02:00] #350 closed, assigned to grvvy

[2020-09-28 17:51] mrh1997 commented on #344
Did some further investigations by now:
- the value of ``max_packet_size_ep0`` is [forwarded correctly to the LPC's USB controller](https://github.com/greatscottgadgets/libgreat/blob/e8351008da46f23c875c0207accdfd2ca2d2ed79/firmware/platform/lpc43xx/drivers/usb/usb.c#L868-L868) (This can also be seen in the log above, as the transfers are split correctly into 8 byte transactions)
- Incidentially t

[2020-09-30 09:35] mrh1997 commented on #344
The Problem is, that the USB_TD_DTD_TOKEN_STATUS_ACTIVE will not be cleared if the ``max_packet_size`` of endpoint 0 is 8 or 16. This causes [usb_queue_clean_up_transfers()](https://github.com/greatscottgadgets/libgreat/blob/e8351008da46f23c875c0207accdfd2ca2d2ed79/firmware/platform/lpc43xx/drivers/usb/usb_queue.c#L199) not to free the dTD buffers after a IN transfer on endpoint 0 is completed. As

[2020-09-30 12:06] ktemkin commented on #344
This might be a case for expiring packets before they're marked non-active. They're currently at least expired and cleaned up when the next SETUP comes through; but perhaps there's another condition we could use for expiry?

Do we know if the interrupt-on-complete still fires?

[2020-09-30 16:02] mrh1997 commented on #344
Actually the ``usb.c`` Module [flushes/frees already all transfers on endpoint 0](https://github.com/greatscottgadgets/libgreat/blob/e8351008da46f23c875c0207accdfd2ca2d2ed79/firmware/platform/lpc43xx/drivers/usb/usb.c#L963-L963) when receiving a SETUP packet.

But I saw that ``greatdancer.c`` does only rely partially on ``usb.c`` and implements a lot of the lowlevel logic on its own. Especially in

[2020-10-01 18:42] Qyriad commented on #344
Fixed with #353.

[2020-10-01 18:42] #344 closed, assigned to ktemkin, Qyriad

[2020-10-09 14:00] A2nkF opened #354 "Is there an API for sending Control Transfers over usb?"
Hey,

I'm trying to use my greatfet to send Control Transfers to a device connected through the USB1 port, but I didn't manage to find any APIs to do that :/

I think there is a higher level API to do `IN` control transfers in `gf.glitchkit.usb.capture_control_in` but that doesn't quite cover what I'm trying to do.
I also tried `~$ gf info -A` and
[code]
but there didn't seem to be an API to just

[2020-10-09 18:08] A2nkF commented on #354
Ok, so I didn't find what I'm looking for in `libgreat` but I think the facedancer module allows for sending Control Transfers :).

In case anyone else plans on doing this, this is what worked for me:

[code]

I think my issue was that I just assumed that `gf.apis.greatdancer` would be the same thing as facedancer, which isn't the case.

Some documentation would probably be helpful but the python

[2020-10-10 11:17] A2nkF commented on #354
Turns out, that still doesn't work properly. Glitchkit and Facedancer appear to do different things when sending control requests. I still can't get  the device to respond properly using facedancer.

I can craft a setup request and send it using `gf.glitchkit.usb.api.control_in` and get the device to send me data just fine. But if I build that same request and send it using `facedancer.FacedancerU

[2020-10-27 00:52] labusaid opened #355 "CAN bus support"
Having CAN bus supported by the API would be nice for automotive/industrial use. I believe the LPC4330 has support for it with C_CAN0/C_CAN1. Is this on the roadmap anywhere? Has anyone played around with this before? I'm not super familiar with the greatfet firmware or really writing bare metal firmware in general so I have no clue how big of a project this is.

[2020-10-27 02:03] labusaid commented on #355
Also having the greatFET function as a linux socketCAN adapter would be great for using pre-existing tools.

https://github.com/torvalds/linux/blob/master/Documentation/networking/can.rst

[2020-10-27 06:26] tarikku commented on #355
I looked into this some months back, and made a very simple transceiver neighbor - https://github.com/tarikku/canna-greatfet-neighbor, but had not done much on the driver side. My plan was to develop an open source driver and not use the existing ones. Back then I didn't get too far due to too many projects.

There is a silicon error in the LPC used in the GreatFET which effectively makes it impos

[2020-10-27 16:56] Legion303 opened #356 "Python errors in Windows and linux"
Both systems are running Python 3.9 and have been updated but I can't get this brand-new board to do anything.

64-bit Ubuntu 16.04 on VMWare Player 15:

~/.local/bin$ gf info
Traceback (most recent call last):
  File "/home/analyst/.local/lib/python3.5/site-packages/pygreat/comms_backends/usb.py", line 353, in execute_raw_command
    self.LIBGREAT_REQUEST_NUMBER, self.LIBGREAT_VALUE_EXECUTE, flag

[2020-10-27 19:27] Legion303 commented on #356
Update: I have the same "tostring" error on another linux VM on a second computer and another Win10 install on a third computer. All 64-bit, all running Python3.9. Is there an issue with 3.9?

[2020-10-27 19:54] Legion303 commented on #356
Update again: uninstalled Python 3.9, installed Python 3.7.2, looks like that solved the problem. Might need to specify the version number in the setup guides until it's compatible?

[2020-10-27 19:54] #356 closed, assigned to nobody

[2020-10-28 00:02] labusaid commented on #355
I believe that silicon error you're having is part of the specifications "Use of C_CAN controller
excludes operation of all other peripherals connected to the same bus bridge."
Looking at the block diagram:
C_CAN0 shares bridge 3 with I2C1, the 10 bit DAC, and both 10 bit ADC0 and ADC1.
C_CAN1 shares bridge 1 with PWM, I2C0, I2S0, and I2S1.

~~I'm not sure I understand the purpose of the TJA1042 c

[2020-10-31 22:32] tarikku commented on #355
Right, using a C_CANx _actively_ makes it impossible to use another peripheral on the same bus bridge.

Canna rev1 uses GPIO pins to control each [TJA1042T-3](https://www.nxp.com/docs/en/data-sheet/TJA1042.pdf) transceiver, which has a standby mode that you can switch to by asserting a HIGH on the STB pin.

The [Wikipedia CAN bus article](https://en.wikipedia.org/wiki/CAN_bus#/media/File:CAN_Node.

[2020-11-09 01:06] potto216 opened #357 "USB error when running "gf info" in a VM"
I receive a USB error when I run `gf info` which causes an exception and the code to end when running in a VM.  The error is usb.core.USBError: [Errno 5] Input/Output Error.

I am running the software in a VMWare VM using Ubuntu 18-4-4 and I think this is related to
a similar VMWare issue https://github.com/greatscottgadgets/greatfet/issues/250

I verified that the GreatFET is visible by the VM wi

[2020-11-22 03:19] CourteousCoder opened #358 "GreatFET equivalent of `goodfet.cc`"
What is the GreatFET equivalent of the [`goodfet.cc`](http://goodfet.sourceforge.net/clients/goodfetcc/) command-line tool?

[2020-11-26 21:24] CourteousCoder commented on #358
Found it. It's `greatfet chipcon`

[2020-11-26 21:24] #358 closed, assigned to nobody

[2020-11-27 02:20] CourteousCoder opened #359 "Chipcon error on read and write."
# Summary
I am trying to backup the software of my IM-ME, and then write new software to it.
Running `greatfet chipcon --chip-id` gives me `259`.
But it fails on `greatfet chipcon --read ~/im-me-firmware-backup.hex --length 0x8D98`. Attempting to write data to it results in the same error.
# Hardware Setup
[code]
# Software Setup
This assumes that `udev` configurations are set and that you have th

[2020-11-27 19:12] CourteousCoder commented on #359
I just noticed a `Makefile` in this repository. I am going to try installing greatfet using the makefile like this:
(I'm on Pop OS; an Ubuntu derivative)
[code]
EDIT: This resulted in the same problem.

[2020-12-17 23:01] potto216 commented on #357
Just seeing if there are any suggestions on what I should do to further debug the issue?

[2020-12-23 21:59] blysmth commented on #359
Hi @DanielSchetritt I have the exact same problem, using Linux Mint 20; same error messages.

[2020-12-23 22:34] blysmth commented on #359
I figured it out, you need to update the firmware with the current version before executing commands.

Still, I tried writing Michael's Spectrum Analyzer hex to my IM-ME and now it's dead :(

[2021-01-05 10:44] kylma opened #360 "AttributeError: 'array.array' object has no attribute 'tostring'"
Hi there,

I'm following the getting started tutorial and I'm getting this error when executing `greatfet info`

[code]

[2021-01-06 14:23] ktemkin commented on #360
Looks like this needs to be updated for python@3.9; it should be `tobytes` and not `tostring`. `tostring` was there for py2 compatibility; but since we've dropped py2 a year ago, we can also drop that.

@Qyriad can you take care of this?

[2021-01-06 14:46] #360 closed, assigned to ktemkin, Qyriad

[2021-01-06 17:18] Qyriad commented on #359
I'm looking into this now. The verification is failing on my end, so something is definitely not quite right.

[2021-01-06 19:05] Qyriad commented on #359
@DanielSchetritt @blysmth so it turns out the reason it was failing for me was a totally unrelated environment issue. Why it's not working for *you*, however, is that you're passing an Intel hex (`.hex`) file. The chipcon programmer writes whatever data you pass it literally, as binary. However, once #362 is merged, the `greatfet chipcon` command will auto-detect Intel hex files and convert them t

[2021-01-06 19:16] blysmth commented on #359
Thank you @Qyriad, to clarify: does that mean the hex I downloaded from http://ossmann.blogspot.com/2010/03/16-pocket-spectrum-analyzer.html was't properly flashed?

Also, is there a chance of reviving my IM-ME once #362 is merged?

[2021-01-06 19:35] Qyriad commented on #359
That means the hex you downloaded was flashed without converting it to binary first. As for reviving your IM-ME, so long as you can still run something like `greatfet chipcon --chip-id`, and the firmware you're trying to flash is fine, then you should be able to revive it by reflashing it with `greatfet chipcon -w path_to_hex_file`.

[2021-01-06 19:37] blysmth commented on #359
Thank you so much. I feel like such a silly rookie, so out of my depth! 😬

[2021-01-06 19:38] Qyriad commented on #359
No worries! My apologies for the unclear semantics. On the plus side, #362 is merged now. Before trying to re-flash, make sure you install the updated version of the greatfet host stack with something like:
[code]

[2021-01-06 21:09] blysmth commented on #359
Works perfectly, thanks again @Qyriad. You're a star.
![im-me](https://user-images.githubusercontent.com/11903805/103819994-66b42b00-5063-11eb-8df9-169e39cb2d78.jpg)

[2021-01-06 21:43] Qyriad commented on #359
Awesome. I'm going close this now; glad everything is working :)

[2021-01-06 21:43] #359 closed, assigned to Qyriad

[2021-01-10 15:44] zuernerd opened #363 "autodetect not working on OpenBSD"
Hey im trying to use the GreatFETOne on OpenBSD but there are some issues.

When running
[code]
The full output of the error when additional debug information is selected `LIBUSB_DEBUG=4` is in the file:
[autodetect_out.log](https://github.com/greatscottgadgets/greatfet/files/5792807/autodetect_out.log)

If i understand correctly the autodetect method will create new instances for every subclass.

[2021-01-11 18:20] ktemkin commented on #363
Thanks for the report, and for the detailed logging.

Unfortunately, not a lot of testing has been done on OpenBSD; so I suspect there are platform quirks that are yet to be written. Here, it looks like we might want to back off and wait on `EBUSY`.

How are you using FaceDancer? The workaround will be different depending on whether you're using the new FaceDancer syntax (e.g. are you importing fr

[2021-01-14 23:06] Qyriad commented on #354
With regard to Facedancer, have you tried running the [`legacy-applets/facedancer-host-enumeration.py`](https://github.com/usb-tools/Facedancer/blob/master/legacy-applets/facedancer-host-enumeration.py) script? The Facedancer host API could use some reworking, but if that script doesn't work for you either then it might be indicative that something is strange about your device or host environment.

[2021-01-16 16:05] zuernerd commented on #363
I think waiting on `EBUSY` wont solve the problem. I it is caused by the subclasses who will run `usb.core.find()`.
Therefore we will end up with several objects for the same device. Then when we want to open the device we will get `EBUSY`. The following example code will work on Linux (raspian) but will fail on OpenBSD as shown here:

[code]

Im fairly new to the project and would like to play ar

[2021-02-10 16:33] markoHUN opened #364 "AttributeError: 'array.array' object has no attribute 'tostring' - Python 3.9"
gf fw --auto
Trying to find a GreatFET device...
Traceback (most recent call last):
  File "/home/kali/.local/bin/greatfet_fw", line 8, in <module>
    sys.exit(main())
  File "/home/kali/.local/lib/python3.9/site-packages/greatfet/commands/greatfet_firmware.py", line 200, in main
    device = parser.find_specified_device()
  File "/home/kali/.local/lib/python3.9/site-packages/greatfet/utils.py",

[2021-02-10 18:51] tarikku commented on #364
Hi,
This was recently reported and fixed as it seems, see here: https://github.com/greatscottgadgets/greatfet/issues/360

[2021-02-11 09:39] markoHUN commented on #364
Thank you! Now I fixed this issue based on your link.

[2021-02-12 07:42] markoHUN opened #365 "Windows 10 - [Errno5]Input/Output error"
usb.core.USBError: [Errno 5] Input/Output Error

I get this type of error message during the setup stage of Greatfet One. Do you know if there is any possible solution for this?
I get similart error as in #327 case.

C:\Users\hpelitebook>gf info
Traceback (most recent call last):
  File "c:\users\hpelitebook\appdata\local\programs\python\python39\lib\runpy.py", line 197, in _run_module_as_main

[2021-02-12 07:43] #364 closed, assigned to nobody

[2021-02-12 11:35] markoHUN commented on #250
in VMWare on the top of the left corner click: player -> removable devices -> connect GreatFet One by manually

[2021-02-15 16:06] potto216 commented on #357
Let me know if there is any way I can help with this.  Thanks for looking at it!

[2021-02-17 10:00] shtry opened #366 "Does greatfet support umap2 tool?"
Hi.

Does greatfettool support  umap2?

umap2 link : https://github.com/nccgroup/umap2

In my opinion, it seems to be an error caused by not finding the physical device. "/dev/ttyUSB0".

I get a device error as below.

[code]

[2021-02-17 12:59] shtry commented on #366
Is there a separate USB device mode?

https://github.com/greatfet-hardware/azalea/blob/master/README.md

[code]

I also wrote on umap2 but this seems to be a physical device issue.

#366

[2021-02-18 02:30] docprofsky opened #367 "greatfet_logic broken when using num channels != 1, 8"
Using greatfet_logic with the number of channels (-n) not equal to 8 or 1 results in the below error.
`[Errno 5] Input/Output Error`

I have done testing and I believe this error was introduced by e3f25fd2c4461c3de64d6b7f4e371b0001168eda.

Below is the dmesg log from the GreatFET after running `greatfet_logic -n 5 -f 10e6 -o /dev/null --debug`
[code]

[2021-02-19 00:42] straithe commented on #338
@mbparks Are you still experiencing this issue?

[2021-02-19 00:44] straithe commented on #354
@A2nkF Are you still experiencing this issue?

[2021-02-23 08:08] markoHUN commented on #365
I found a solution for this problem. While installing the driver with Zadig I used libusbK, NOT libusb-win32. Now it works.

[2021-02-23 08:08] #365 closed, assigned to nobody

[2021-02-24 20:15] Qyriad opened #368 "Link to the nightlies page in documentation"
GreatFET nightly builds are hosted at https://gf.ktemkin.com, which we've linked to in several issues but that link doesn't exist in the readme or in the wiki. Also that URL was intended to be temporary at the first place, and should probably be moved to a different domain.

[2021-02-24 20:25] Qyriad commented on #282
It looks like the upstream bug has been fixed. Closing. If anyone is still having this issue I'll reopen.

[2021-02-24 20:25] #282 closed, assigned to Qyriad

[2021-02-25 11:21] A2nkF commented on #354
@Qyriad - Running that script does fail:
[code]

But I don't know if my setup is particularly weird. It's a MBP with Catalina and python3.8 on the host side and the target is an iPhone X. I've also tried an iPhone 7, 11 and 12 pro and observed the same behaviour.

@straithe - Yes, still the same issue. I just gave up on this project for now bc I spent a couple of days trying to get it to work and

[2021-03-24 04:51] straithe commented on #338
I'm going to close this as there hasn't been a response in a while, but please re-open this issue or open a new one if you still need assistance.

[2021-03-24 04:51] #338 closed, assigned to ktemkin, straithe

[2021-04-09 20:16] tilljonasostermann opened #370 "Python UART baud rate bug"
Hi,

not sure if anyone here can help out, but I'll give it a shot. I'm an hardware engineer and like the possibility to directly use the typical standard low level interfaces like I2C, SPI or UART directly with Python. For development I'm using Spyder 4 on Ubuntu, installed gf via pip.
So far things are great, but I'd like to adjust the UART baud rate so that I can use it in my application. And i

[2021-04-11 21:10] BJamin99 commented on #327
I am having the same issue (Scenario-2) on a Windows 10 Pro machine.  I am using Python 3.9.2.  Also, my GreatFET device shows up as two interfaces: GreatFET (Interface 0) and GreatFET (Interface 1).  Using libusb-win32 or libusbk has the same issue.

[2021-04-16 12:57] alvarop opened #371 "Error flashing older GreatFET ("28 January 2017" silkscreen)"
Trying to update the firmware on and old-ish greatfet and getting the following error:
[code]

This is what I get with the info command:
[code]

Running ubuntu 20.04 with python3 and the udev rules installed
Board is labeled "28 January 2017"

[2021-04-16 13:21] alvarop commented on #371
Using the DFU recovery procedure as recommended here worked!
https://github.com/greatscottgadgets/greatfet/tree/master/firmware#dfu-mode-running-from-ram

[code]

[2021-04-16 13:31] alvarop opened #372 "Cannot build firmware in Ubuntu 20.04 (python missing)"
This is more of a libopencm3 issue, but it prevents easy building of the firmware. Just want to write it down in case anyone else runs into the same issue.

Steps to reproduce:
* Be on a system without python2 but with python3 (`python` command is missing, but `python3` is not)

[code]

To get around it, I cheated by using virtualenv like:
[code]
another secret libopencm3 dependency :(

[code]

An

[2021-04-30 14:57] miek commented on #370
I haven't been able to reproduce this so far. When I run your script, the output looks correct to me:
![gfuart](https://user-images.githubusercontent.com/578095/116713066-5fc37680-a9cc-11eb-85ba-1c73724d5238.png)

Is it possible that you're running an older version? You might be hitting #328.
Could you post the output of `gf info -H`?

[2021-05-01 20:18] tilljonasostermann commented on #370
Was on:
![image](https://user-images.githubusercontent.com/82238610/116793965-2bce7b00-aaca-11eb-9a7f-61d2376db24c.png)

Updated to:
![image](https://user-images.githubusercontent.com/82238610/116794141-32112700-aacb-11eb-98a9-a9dca08feee3.png)

Did indeed solve the issue! @miek thanks a lot for your answer!

[2021-05-01 20:19] #370 closed, assigned to nobody

[2021-05-04 23:29] straithe commented on #371
Thank you for the update, @alvarop!

[2021-05-04 23:29] #371 closed, assigned to straithe

[2021-05-04 23:30] straithe commented on #372
Thank you for the guide, @alvarop !

[2021-05-04 23:30] #372 closed, assigned to straithe

[2021-05-06 19:43] mjargay opened #373 "USB Mass Storage Device not working"
Hello,

My code appears to hang on the SCSI READ (0x28) and WRITE (0x2A) when the amount of data exceeds 512. The code appears to hang at greatdancer.py line 250. The greatdancer doesn't appear to ever receive a transfer is complete. I am able to verify that all data is sent from the HOST to the DEVICE by sniffing the traffic using Wireshark during a WRITE (0x2A). However the code only appears to

[2021-05-07 13:17] loneicewolf commented on #373
Can you send a screenshot? I had this problem a long (**awhile!**) ago,  and I (Don't remember Exactly how I) solved it, but can you also - (if possible) provide the code you're trying to run?

Regards

Will

[2021-05-07 18:31] mjargay commented on #373
I am using the facedancer library.

The issue happens even when i use facedancer-umass.py in the facedancer repository. It seems that the get_status(self.GET_ENDPTSETUPSTAT) from this repository isn't updating the status to say that the board can take or receive new traffic. There is a lot of code but its the old code ported to FaceDancer 3.0. The legacy code has the issue as well.

Thanks

[2021-05-08 16:58] loneicewolf commented on #373
Thanks for pointing it out, will have a look into it.

Will

[2021-05-15 13:21] potto216 opened #374 "Unable to set SPI bus speed when using the SPIBus class"
I am unable to change the SPI clock and data speed when using `SPIBus` class.  I have tried multiple values for the `freq_preset` parameter and the SPI bus speed does not change. The same issue occurs when setting the `serial_clock_rate` and `clock_prescale_rate` parameters.  For example when running the attached Python file with the bus speed set to `SPIBus.FREQ.C204000Hz`  the clock speed (yello

[2021-06-05 15:27] BJamin99 commented on #327
I've found a potential solution, although I'm not sure if it works in all cases, or just with the little that I've tested.  As can be seen in Scenario-2, the issue seems to be when trying to claim the USB interface.  This uses the pyusb claim_device method.  Looking at the documentation for this method:

            PyUSB users normally do not have to worry about interface claiming,
            as

[2021-06-11 11:49] potto216 commented on #374
Just seeing if there is anything I can help with or if you needed more data?

[2021-06-16 00:08] straithe opened #377 "Move current nightly links from Kate's website"
https://nightlies.ktemkin.com/greatfet/

[2021-06-16 00:08] straithe opened #378 "Move pinout table from Kate's website"
https://gf.ktemkin.com/

[2021-06-16 09:32] mossmann commented on #378
code is here: https://github.com/ktemkin/greatfet-pinout

[2021-07-09 00:31] aussieklutz opened #383 "Update UART interface to enable accessing UART1 and UART2"
The Azalea board appears to have two additional UART interfaces, as indicated as U1 and U2 in the table at: https://github.com/greatfet-hardware/azalea#j1-neighbor1-pinout
The UART interface is currently initiated thusly:

[code]

To the best I can follow, an additional UART interface can be instantiated in this way:

`gf._add_interface("uart1", UART)`

The __init__ for the UART interface does not

[2021-07-09 02:31] aussieklutz commented on #383
Further to this, it looks like the additional UART1 and UART2 pins are not defined in: https://github.com/greatscottgadgets/greatfet/blob/master/firmware/boards/azalea/pins.h

[2021-07-09 02:37] aussieklutz commented on #383
Looking in libgreat, the LCP4330 does not have the pins defined for the additional UARTS:
https://github.com/greatscottgadgets/libgreat/blob/master/firmware/platform/lpc43xx/drivers/platform_uart.c

[code]

[2021-07-09 02:38] aussieklutz opened #384 "Looking in libgreat, the LCP4330 does not have the pins defined for the additional UARTS:"
Looking in libgreat, the LCP4330 does not have the pins defined for the additional UARTS:
https://github.com/greatscottgadgets/libgreat/blob/master/firmware/platform/lpc43xx/drivers/platform_uart.c

[code]

_Originally posted by @aussieklutz in https://github.com/greatscottgadgets/greatfet/issues/383#issuecomment-876869053_

[2021-07-09 02:39] #384 closed, assigned to nobody

[2021-07-09 02:39] aussieklutz commented on #384
Accidentally raised here...

[2021-07-09 03:06] aussieklutz commented on #383
Made pull request to add the pin definitions to libgreat.

[2021-07-09 03:19] aussieklutz commented on #383
Best I can tell, https://github.com/greatscottgadgets/greatfet/blob/master/firmware/boards/azalea/pins.h does not need to be updated as it has been superseded by the libgreat definitions.

Looks like the following are already written to support multiple UART:
https://github.com/greatscottgadgets/greatfet/blob/master/firmware/greatfet_usb/classes/uart.c
https://github.com/greatscottgadgets/libgreat

[2021-08-07 23:57] cdwilson opened #386 "Ambiguous argument error when building host tools"
When I try to build `/libgreat/host/` or `/host/` per the [documentation](https://greatfet.readthedocs.io/en/latest/getting_started_firmware_development.html#fresh-install), I get a `fatal: ambiguous argument` error like the following:

[code]

I believe this ambiguous argument error can be fixed by ktemkin/even-better-setuptools-git-version#1 but this PR has been open for a couple years and has n

[2021-08-12 22:57] grvvy commented on #386
I haven't seen this one before, have you tried using `python3` explicitly?

[2021-08-12 23:15] grvvy commented on #383
Sorry for the delay, I'll look into patching this in. Thank you for your work!

[2021-08-18 21:22] meeas opened #389 "Possible compatibility issue with VMware on Windows 10"
K, this has been a strange one.  For some reason, trying to pass GreatFET through VMware Workstation/Player (last few versions) from a Windows Host to a Linux virtual machine is resulting in I/O issues.  VMware can see and allows me to connect GreatFET to my Linux VM, `lsusb` can see the GreatFET device, and `dmesg` shows it gets registered with `udev` correctly.  However when I try to use the Gre

[2021-08-18 21:33] meeas commented on #389
This seems to be connected to #250 and #357

If you are trying to use GreatFET on a host machine running Windows 10, my suggestion is to use VirtualBox to host your Linux VM as it works without issue.  Just make sure to the Oracle Extension Pack on your host and enable USB 3.0 support in your VM.

[2021-08-20 11:58] Jatsekku opened #390 "SPI setup example"
Is there any way to set SPI parameters like clock polarity and clock phase?

[2021-08-21 04:23] cdwilson commented on #386
@grvvy I'm seeing the same issue using `python3` explicitly.

Can you try running the following and let me know if you get the same error?

[code]

[code]

[2021-08-22 03:53] meeas opened #391 "Redundant spiflash and spi-flash commands"
Any reason why we need both?  Based on the other compound word commands, it seem to make the most sense to keep `spi-flash` and remove `spiflash`.

[2021-08-23 16:47] straithe commented on #391
Thank you for pointing this out! I will make sure this gets reviewed.

[2021-08-23 17:58] straithe commented on #390
Those features have not been exposed through the host's SPI API (gf.spi) but are crudely exposed through the device's SPI API (gf.apis.spi). You have to call gf.apis.spi.set_clock_polarity_and_phase() with an 8-bit integer argument that gets stuffed into the Synchronous Serial Port's (SSP) Control Register 0. See chapter 41 of the [UM10503 manual](https://www.keil.com/dd/docs/datashts/nxp/lpc43xx/

[2021-08-25 07:12] the-lifting-engineer opened #392 "Logic driver issue Windows"
Running into a driver issue when I try to run the logic command on Windows 10.

gf logic -p /tmp/spi-capture12.sr
Sampling 8 channels at 17 MHz.
Press Ctrl+C to stop reading data from device.

ERROR: Communications failure -- check the connection to -- and state of  -- the GreatFET.
(More debug information may be available if you run 'gf dmesg').
[Errno None] b'libusb0-dll:err [_usb_reap_async] ti

[2021-08-26 20:27] straithe commented on #392
Can you please run `gf info -a` and put the output here? I'd also appreciate if you could run `gf dmesg` after an error occurs and also paste that output here.

[2021-08-27 03:40] the-lifting-engineer commented on #392
`gf info -a` outputs:  gf info -a
Host tools info:
        host module version: 2021.2.1
        pygreat module version: 2021.2.1
        python version: 3.9.6 (tags/v3.9.6:db3ff76, Jun 28 2021, 15:26:21) [MSC v.1929 64 bit (AMD64)]

        module path: c:\users\school\appdata\local\programs\python\python39\lib\site-packages\greatfet
        command path: c:\users\school\appdata\local\programs\py

[2021-09-16 15:30] williamdeeks opened #393 "gf = GreatFET() fails with libusb1 available"
Hi,

I need to use libusb1 to support another device, but in Python calling:
`gf = GreatFET()`
results in:
`Process finished with exit code -1073741819 (0xC0000005)`

when libusb1.dll is available in my path (I'm on windows).

I believe GreatFET relies on functionality in libusb0 which doesn't exist in libusb1, but doesn't specify this when calling usb.core.find()

I forced PyUSB to use libusb0 by

[2021-10-07 14:43] ttimasdf commented on #357
Use DFU mode to flash rom works fine(`greatfet_firmware -V greatfet_usb.bin`), maybe some bug in the usb stack?

[2021-10-08 16:44] straithe commented on #389
Thank you for the tip! We appreciate it. I'm going to close this issue as you have found a solution.

[2021-10-08 16:44] #389 closed, assigned to nobody

[2021-10-24 04:06] whatnick opened #394 "No i2c available error"
Environment:
Python 3.9
Windows 10
Zadig driver installed

Error:
[code]

[2021-10-25 09:41] ttimasdf commented on #357
Run USBpcap on a Windows host, I see all packets respond with `USBD_STATUS_XACT_ERROR` after the host invoked `URB_FUNCTION_SELECT_CONFIGURATION` with index=0. And in Linux guest, we could see an `EPROTO` response.

![image](https://user-images.githubusercontent.com/2762704/138672009-db2d4896-9b60-4e42-9402-e189ae5bba85.png)

![image](https://user-images.githubusercontent.com/2762704/138672244-6e7

[2021-10-27 19:25] straithe commented on #393
Have you been able to get this to work with libusb0? If so, what modifications did you make to do so?

We expect GreatFET to work with libusb1. Our primary development platform is Ubuntu, so there may be an unexpected Windows issue that may need to be sorted out.

[2021-10-27 20:07] straithe commented on #394
Can you run `gf_info -H` and paste the output here?

[2021-11-05 06:54] patois commented on #357
I've had partial success with a Linux VM running inside VMWare Workstation by editing its .vmx configuration file. Shutting down the VM, then adding the following line and booting the VM again will make GreatFET devices recognizable but still not fully functional (there will be either exceptions or misbehavior depending on the gf script you're running).

`usb.generic.skipsetconfig = "TRUE"`

It ma

[2021-11-05 19:02] mossmann commented on #363
Based on your last trace, this appears to be a pyusb and/or libusb bug on your platform. If you want to pursue a solution, I think you'll need to look upstream.

[2021-11-05 19:02] #363 closed, assigned to nobody

[2021-11-13 21:37] straithe commented on #321
Do you still need assistance, @decidedlygray ?

[2021-11-19 03:02] decidedlygray commented on #321
Eh. It would be cool to build but the board has been discontinued for a few years now. I'll close this out. Thanks for following up!

[2021-11-19 03:02] #321 closed, assigned to straithe

[2021-11-24 22:29] potto216 commented on #374
Closing this because it is no longer a requirement

[2021-11-24 22:29] #374 closed, assigned to straithe

[2021-11-24 22:33] potto216 commented on #357
Thanks, I'll try that out.

[2021-11-29 19:34] straithe commented on #394
I'm going to close this as there hasn't been a response in a while, but please re-open this issue or open a new one if you still need assistance.

[2021-11-29 19:34] #394 closed, assigned to straithe

[2021-11-29 19:37] straithe commented on #393
I'm going to close this as there hasn't been a response in a while, but please re-open this issue or open a new one if you still need assistance.

[2021-11-29 19:37] #393 closed, assigned to straithe

[2021-12-01 20:42] gozu42 opened #395 "build failing on newer python versions"
same issue as https://github.com/greatscottgadgets/libgreat/issues/27, see there for details.

[code]

[2022-01-24 04:53] 0xGSMonkey opened #397 "Hack RF Not Found Only 3V3 light is on"
I don't think it is the USB cable I have used 4 different USB cables and all of them show the 3V3 light as being the only light that shows. I am not sure what happened. I connected PIn 11 and PIn 18 on Expansion Interface 22 without reading the docs. Did this fry my hackrf one? D:

[2022-01-24 04:56] gozu42 commented on #397
is this about a greatfet? or a hackrf? or trying to run a hackrf through a greatfet?
(depending on the answer, you may be in the wrong project/tracker)

[2022-01-24 04:56] 0xGSMonkey commented on #397
Wrong Project. Sorry! It is about the HackRF One

[2022-01-24 19:09] #397 closed, assigned to nobody

[2022-03-07 02:56] straithe commented on #395
I'm closing this issue as it is a self-reported duplicate issue.

[2022-03-07 03:11] gozu42 commented on #395
reason for opening it in both "greatfet" and "libgreat" was that aiui it needs to be fixed in both repos.
the fix is likely going to be the same on both sides, so i refed the libgreat one because any talking and figuring out can be done on just one side.

[2022-03-27 17:38] BJamin99 commented on #327
Had a look at this again.  Messing around with zadig, managed to get it to work without having to modify the source as I described above.  In zadig (2.7) I set the driver for "GreatFET (Interface 0)" to "libusbK (v3.1.0.0)" and the driver for "GreatFET (Interface 1)" to "WinUSB (v6.1.7600.16385)".  It seems like if both are set to libusbK, or if only "GreatFET (Interface 1)" is set to libusbK, the

[2022-03-27 20:47] BJamin99 commented on #327
OK, that works for a few functions, but trying to use the logic analyzer found that this is not the complete solution.  Looks like somehow the Windows composite driver (usbccgp) took over the "device" and split it into two interfaces.  Interface 0 has 0 endpoints, which works fine for switching the LEDs, doing GPIO, and i2c for example, but doesn't work for the logic analyzer, which is looking to

[2022-03-27 23:07] BJamin99 commented on #340
I ran into this issue too.  As per Python documentation for NamedTemporaryFile (https://docs.python.org/3/library/tempfile.html#tempfile.NamedTemporaryFile):

Not sure if there is a benefit to using NamedTemporaryFile this way, but I've modified the code as such:

`271        bin_file = tempfile.NamedTemporaryFile(dir=holding_dir, delete=False)
`

Then instead of doing a bin_file.flush(), I've mod

[2022-04-28 16:26] pickeditmate opened #399 "Documentation needs updating for Logic Analysis"
https://greatscottgadgets.github.io/greatfet-tutorials/logic-analysis.html
shows gf.spi.transmit("GreatFET") bot doing this on Python3 errors out.

Instead I used gf.spi.transmit(b"\x88\x88\x88\x88")

[2022-04-28 21:37] straithe commented on #399
Thank you. I will add a documentation update to my to do list.

[2022-04-29 19:08] robvinson commented on #357
Adding this line to my VMWare VMs .vmx file got the greatfet working for me:

[code]

[2022-04-29 19:27] robvinson commented on #373
It appears that the 2021.2.1 firmware may have introduced some issues that didn't previously exist.

I couldn't get the facedancer `legacy-applets/facedancer-umass.py`  script to successfully present a disk image to a target system as a storage device. The script would always hang after the target Windows host attempted SCSI WRITE(10) operation. After downgrading greatfet to 2020.1.2 and adjusted

[2022-04-29 19:41] pickeditmate commented on #392
I'm getting a similar error with this too. Windows 10

C:\Users\User>gf logic -p testSigrokCapture.sr
Sampling 8 channels at 17 MHz.
Press Ctrl+C to stop reading data from device.
Traceback (most recent call last):
  File "C:\Users\User\AppData\Roaming\Python\Python310\site-packages\usb\core.py", line 236, in get_interface_and_endpoint
    return self._ep_info[endpoint_address]
KeyError: 129

Duri

[2022-05-15 16:07] potto216 commented on #357
Thanks so much @robvinson !!!!! This worked for me also. I'm going to close the issue because this is a great solution.

[2022-05-15 16:07] #357 closed, assigned to nobody

[2022-05-30 16:32] straithe commented on #327
@h3rm1t-ms are you still experiencing this issue?

[2022-06-06 21:04] grvvy commented on #383
Fixed here https://github.com/greatscottgadgets/libgreat/commit/55c89c1c6d3205e0c2e8a4ece99fa82ac71716b4

[2022-06-06 21:04] #383 closed, assigned to grvvy

[2022-06-21 18:59] OhioDuckFarmer opened #403 "Failure to identify connected SPI Flash"
I have connected multiple SPI NOR-Flash chips (winbond W25Q16JV) to the greatfet and tried to use the spi-flash info command to read the ID code from the chips; however, 90%+ of the time I will receive a "spiflash: this target lacks a JEDEC ID or DO/MISO appears to be stuck" and the other 10% of the time I will get:

"
SPI flash detected:
        Manufacturer: unknown (0xff)
        Part number: u

[2022-06-27 07:20] meeas commented on #357
Awesome work @robvinson !!!  That has plagued my Black Hat course for the last few years, forcing everyone on Windows to use VirtualBox.  The VMware works just fine without modification on Mac and Linux, just not Windows.  And all other virtualization software on Windows works fine, just not VMware................until now.  :-)

[2022-07-22 20:52] straithe commented on #403
Thank you for opening this issue. I'm going to try to reproduce this issue and work to solve it for you!

[2022-07-29 15:21] meeas commented on #250
I think it is safe to close this issue.  Every report in this thread was using VMware on Windows 10/11 which meant every case can be explained by #357.

The solution is adding the following line to your VMware virtual machine's VMX config file.

[code]

I've confirmed this fixes the issue on several different machines.

NOTE: this should not be needed with VMware on Mac or Linux, just VMware on Wi

[2022-07-29 15:35] martinling commented on #250
It would be good to understand exactly what "quirk" of GreatFET causes it to require this config line. It may be something we can fix on the firmware side.

[2022-08-07 22:16] mjargay commented on #373
Thanks robvinson for figuring that out. I logged in today to see if the issue was fixed yet and only saw your comment. The project looks like it may be abandoned but here is the fix if you are still using the hardware.

Changing "typedef char packet_buffer[4096];" to "typedef char packet_buffer[512];" in firmware/greatfet_usb/classes/greatdancer.c line #29 fixed the issue. I am assuming this needs

[2022-08-09 07:25] straithe commented on #327
I'm going to close this as there hasn't been a response in a while, but please re-open this issue or open a new one if you still need assistance.

[2022-08-10 21:23] straithe commented on #366
Do you have a link to the issue you opened on umap2?

[2022-08-19 15:09] straithe commented on #373
I'm closing this issue as it seems to have been resolved. Thank you @robvinson for your contributions.

[2022-08-26 13:55] codehero opened #406 "MSP430 compatibility"
Is there a documented list of MSP430 processors compatible with GreatFET?

[2022-08-26 15:23] mossmann commented on #406
There is not a documented list. As far as I know, the GreatFET MSP430 JTAG function should work with any 16-bit MSP430 but not with 20-bit MSP430X.

[2022-08-26 17:13] codehero commented on #406
OK thanks. My target processors are the FR2422 and the FR5739 so I am not sure if the GreatFET would work with those.

[2022-10-22 06:40] brianredbeard opened #408 "Unreadable tables in offline documentation"
While reading the [PDF] (pg 22) of the GreatFET documentation I ran into a bit of a challenge in understanding the verb structure:  :rofl:
![image](https://user-images.githubusercontent.com/57542/197324396-7edbe968-c824-479d-b340-9f88eb560f06.png)

Methinks that this may be a regression related to #376 (the migration to Sphinx for documentation).

[PDF]: https://greatfet.readthedocs.io/_/downloads